@import "../assets/scss/abstracts/variables";
@import "../assets/scss/abstracts/mixins";



.toolbar {
    color: $color-etsa;
    transition: all .5s;
    z-index: 5;
    height: 64px;
    position:sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    
    &__icon{
        transition: all .3s;
        display: none;
        &:hover{
            transform: rotate(270deg);
        }

        @include respond(tab-port) {
            display: block;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }
      
    &__menuItem{
        transition: all .5s;
        padding: 2.2em .8em;
        &:hover{
            background-color: rgb(87, 85, 85);
        }
        
        @include respond(tab-port) {
            display: none;
        }

    }
}

.selected-menu-item {
    background-color: rgb(87, 85, 85);
}


.menu {
    &__item{

        &:hover {
            color: $color-etsa;
        }

        mat-icon{
            color: $color-etsa;
        }
    }
}

::ng-deep .menu {
    @include respond(tab-port-inverse) {
        display: none;
    }
}




