@import "../assets/scss/abstracts/variables";
@import "../assets/scss/abstracts/mixins";

.selected-menu-item {
    background-color: rgb(87, 85, 85);
    color: white;


}

.toolbar {
    background-color: black;
    color: $color-etsa;
    transition: all .5s;
    z-index: 5;
    height: 64px;
    
    &__icon{
        transition: all .5s;
        opacity: 0;
        width: 0;
        display: none;
        &:hover{
            transform: rotate(540deg);
        }

        @include respond(tab-port) {
            opacity: 1;
            width:auto;
            display: block;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }
      
    &__menuItem{
        transition: all .5s;
        padding: 2.2em .8em;
        &:hover{
            background-color: rgb(87, 85, 85);
            color: white;
        }
        
        @include respond(tab-port) {
            opacity: 0;
            width:0;
            display: none;
        }
        



    }
}



.menu {
   background-color: black !important;


   
    &__item{

        &:hover {
            color: $color-etsa;
        }

        mat-icon{
            color: $color-etsa;
        }
    }
}




