

<mat-toolbar class="toolbar">
  <button mat-icon-button class="toolbar__icon" aria-label="Icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar__title">Address Book</span>
  <span class="toolbar__spacer"></span>
  <a mat-button class="toolbar__menuItem" [routerLink]="['/home']" routerLinkActive="selected-menu-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button class="toolbar__menuItem" [routerLink]="['/contacts']" routerLinkActive="selected-menu-item"><mat-icon >people</mat-icon>Contacts</a>
  <a mat-button class="toolbar__menuItem" [routerLink]="['/newcontact']" routerLinkActive="selected-menu-item"><mat-icon >person_add</mat-icon>New Contact</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]=64 class="sidenav__bar" mode="side"> 
    <ul>
      <div class="link" routerLinkActive="selected-menu-item"><li><a mat-button class="sidenav__bar--menuItem" [routerLink]="['/home']" (click)="sidenav.close()"><mat-icon >home</mat-icon>Home</a></li></div>
      <div class="link" routerLinkActive="selected-menu-item"> <li><a mat-button class="sidenav__bar--menuItem" [routerLink]="['/contacts']" (click)="sidenav.close()" routerLinkActive="selected-menu-item"><mat-icon >people</mat-icon>Contacts</a></li></div>
      <div class="link" routerLinkActive="selected-menu-item"><li><a mat-button class="sidenav__bar--menuItem" [routerLink]="['/newcontact']" (click)="sidenav.close()" routerLinkActive="selected-menu-item"><mat-icon >person_add</mat-icon>New Contact</a></li></div>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav__content"> 
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

