

<mat-toolbar class="toolbar">
  <button mat-icon-button class="toolbar__icon" aria-label="Icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar__title">Address Book</span>
  <span class="toolbar__spacer"></span>
  <a mat-button class="toolbar__menuItem" [routerLink]="['/home']" routerLinkActive="selected-menu-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button class="toolbar__menuItem" [routerLink]="['/contacts']" routerLinkActive="selected-menu-item"><mat-icon >people</mat-icon>Contacts</a>
  <a mat-button class="toolbar__menuItem" [routerLink]="['/newcontact']" routerLinkActive="selected-menu-item"><mat-icon >person_add</mat-icon>New Contact</a>
</mat-toolbar>


<mat-menu class="menu" #menu="matMenu" xPosition="after">
  <button class="menu__item" mat-menu-item [routerLink]="['/home']" routerLinkActive="selected-menu-item">
    <mat-icon >home</mat-icon>
    <span>Home</span>
  </button>
  <button class="menu__item" mat-menu-item [routerLink]="['/contacts']" routerLinkActive="selected-menu-item">
    <mat-icon>people</mat-icon>
    <span>Contacts</span>
  </button>
  <button class="menu__item" mat-menu-item [routerLink]="['/newcontact']" routerLinkActive="selected-menu-item">
    <mat-icon>person_add</mat-icon>
    <span>New Contact</span>
  </button>
</mat-menu>




<router-outlet></router-outlet>


